{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    //"linebreak-style": ["error", "windows"],
    "react/jsx-filename-extension": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "react/forbid-prop-types": ["off"],
    "react/no-unused-state": "off"
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
